.container {
  width: 440px;
  height: 434px;
  position: relative;
}

.gameboard {
  width: 212px;
  height: 185px;
  position: absolute;
  background-color: #E0D06A;
  top: 195px;
  left: 130px;
  z-index: 10;
}

.base {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.gameboard button {
  border-color: #E0D06A;
  color: transparent;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  padding-bottom: 12px;
}
